.container.mx-auto.my-16.space-y-48
  - @categories.each do |category|
    %div
      .mb-8
        %h2.text-primary-600.text-3xl.font-bold= category.name
      .grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-8
        - category.blogs.each do |blog|
          = render Cards::BlogCardComponent.new(title: blog.title, description: blog.meta, image: blog.header_image, link: blog_path(blog.slug), category: blog.category.name, time_to_read: t('blogs.show.time_to_read', time: reading_time(blog.content).to_i))